body {
  background-color: #121212; 
  color: #ffffff; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
  background-color: #1db954; 
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1ed760; 
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #181818; 
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid #303030; 
}

th {
  border-bottom: 2px solid #303030; 
}

img {
  border-radius: 50%; 
}

tr:hover {
  background-color: #282828; 
}
